.single.casestudy.xtrademark{
	background-color: #0D1B23;
}
.single.casestudy.xtrademark nav.has-bg-black.has-text-centered.padding-top-2.padding-bottom-2.slide-down,
.single.casestudy.xtrademark nav.has-text-centered.padding-top-2.slide-up{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
}
.single.casestudy.xtrademark img.BlackLogo {
    display: none;
}

#infographics h2{
	font-size: 50px;
	color: #FFFFFF;
	line-height: 60px;
	font-weight: 700;
}
#infographics h3{
	font-size: 32px;
	color: #FFFFFF;
	font-weight: 700;
}

#infographics p{
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 400;
	line-height: 25px;
}
#infographics li{
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 400;
	line-height: 25px;
}


#infographics .numberInfo{
	position: absolute;
    top: 1.2em;
    left: 0;
    right: 0;
    color: #0D1B23;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Maven Pro';
}

#infographics .captionInfo{
	position: absolute;
	left: 0;
	right: 0;
	top: 70%;
	font-size:18px;
	font-weight: 600;
	line-height: 1.35;
	text-align: center;
	letter-spacing: 2.03px;
	text-transform:uppercase;
	color: #fff;
}
#infographics hr {
    background-color: #66BFF2;
    height: 1px;
    margin: 1rem 0;
}

.bigText{
	color: #FFFFFF;
	font-family: "Maven Pro";
	font-size: 40.79px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
}
.smallText{
	color: #FFFFFF;
	font-family: "Maven Pro";
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 2.03px;
	line-height: 30px;
	text-transform: uppercase;
}

#colTwo,
#colThree{
	position: relative;
}



.single.casestudy.xtrademark.Slack #colTwo{
	top:50px;
}
.single.casestudy.xtrademark.Slack #colThree{
	top:20px;
}

.single.casestudy.xtrademark.Slack #infographics .numberInfo{
	top:1.8em;
	font-size: 50px;
}
.single.casestudy.xtrademark.Slack #infographics .captionInfo{
	top: 15em;
	padding: 0 3rem;
}


.single.casestudy.xtrademark.Xamarin #colTwo,
.single.casestudy.xtrademark.Xamarin #colThree{
	top:50px;
}
.single.casestudy.xtrademark.Xamarin #infographics .numberInfo{
	top: 0.8em;
}
.single.casestudy.xtrademark.Xamarin #infographics .captionInfo{
	top: 100%;
	padding: 0 3rem;
}

.single.casestudy.xtrademark.Xamarin #infographics .thirdColImage{
	margin-top: 113px;
    position: relative;
}


.single.casestudy.xtrademark.Zimmer #colTwo,
.single.casestudy.xtrademark.Zimmer #colThree{
	top:50px;
}

.single.casestudy.xtrademark.Zimmer #infographics .numberInfo{
	top: 0.8em;
}
.single.casestudy.xtrademark.Zimmer #infographics .captionInfo{
	top: 100%;
	padding: 0 3rem;
}
.single.casestudy.xtrademark.Zimmer #infographics .thirdColImage{
	margin-top: 87px;
    position: relative;
}


.single.casestudy.xtrademark.Zimmer .rightSideImage{
    right: 0px;
    bottom: 600px;
    width: 20%;
}

.fullsizedVideo iframe{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
}