html {box-sizing:border-box}

body{
	font-family: 'Open Sans', sans-serif!important;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6{font-family: 'Maven Pro', sans-serif}

.slide-down #navMenu {
	padding-top: 30px;	
}

.blackLogo img,
.yellowLogo img
{max-width: 60%;}

#navMenu a.navbar-item{
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.82px;
	line-height: 18px;
	text-transform: uppercase;
	padding-left: 60px;
	padding-right: 60px;
	transition: all .5s ease-out;
}

#navMenu a.navbar-item:hover{
	background-color: transparent;
	color: #66BFF2;
}
#navMenu a.navbar-item[aria-current] {color:#66BFF2;}

#navMenu a.navbar-item[aria-current]::before{
	content: "";
	border-left: 75px solid #66BFF2;
    height: 1px;
    position: absolute;
    right: 0;
    left: -30px;
    bottom: 10px;
}

#navMenu a.navbar-item:hover::before{
	content: "";
	border-left: 75px solid #66BFF2;
    height: 1px;
    position: absolute;
    right: 0;
    left: -30px;
    bottom: 10px;
}

.padding-top-2{
	padding-top: 2rem;
}
.padding-bottom-2{
	padding-bottom: 2rem;
}

#fullpage #watchVideo .fp-tableCell{
	vertical-align: top;
}


.slide-up, .slide-down {
  overflow:hidden;
}
.slide-up{
  transform: translateY(-10%);
  transition: all .5s ease-out;
}
.slide-down{  
  transform: translateY(0);
  transition: all .8s ease-out;
} 

#caseStudy{
	padding: 0;
}

.bg-green{
	background-color: #033B45;
}

.has-bg-black{
	background-color: #0D1B23;
}

.contactTitle{
	background: #0D1B23 url(../img/contactBg.png);
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	min-height: 486px;
	max-height: 100%;
	position: relative;
}

.pulled-last{
	position: absolute;
	right: calc(100vw - 90vw);
}

.is-size-0{
	font-size: 74.2px;	
}

.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	-webkit-animation: rotateWord 12s linear infinite 0s;
	-ms-animation: rotateWord 12s linear infinite 0s;
	animation: rotateWord 12s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
	
	@media screen and (min-width: 1024px) and (max-width: 1250px){
		.contactTitle .is-size-0{
			font-size: 54.2px;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 1023px){
		.contactTitle .is-size-0{
			font-size: 54.2px;
		}
	}
	
	@media screen and (max-width: 1023px){
		#navMenu{
			display: none;
		}
		.slide-down #navMenu{ 
			padding-top: 0;
		}
		.logo{
			max-width: 80%;
		}
		.mobile-menu a{
			color: #FFFFFF;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.82px;
			line-height: 18px;
			text-transform: uppercase;
			padding-left: 120px;
			padding-right: 60px;
			padding-top: 30px;
		}
		.mobile-menu a.navbar-item:hover{
			background-color: transparent;
			color: #66BFF2;
		}
		.mobile-menu a.navbar-item[aria-current] {color:#66BFF2;}
		
		.mobile-menu a.navbar-item[aria-current]::before{
			content: "";
			border-left: 100px solid #66BFF2;
		    height: 1px;
		    position: absolute;
		    right: 0;
		    left: 0px;
		    bottom: 10px;
		}
		
		.mobile-menu a.navbar-item:hover::before{
			content: "";
			border-left: 100px solid #66BFF2;
		    height: 1px;
		    position: absolute;
		    right: 0;
		    left: 0px;
		    bottom: 10px;
		}
		
	}
	@media screen and (max-width: 768px){
		.yelloLogo img{max-width: 60%;}
		.contactTitle{
			background-size: 100%;
		}
	}
	@media screen and (max-width: 767px){
		.pulled-last {
		    position: relative;
		    right: 0;
		    display: block;
		}
	}
	@media screen and (max-width: 540px){
		.contactTitle{
			min-height: 285px;
		}
		.contactTitle .is-size-0{
			font-size: 40.2px;
		}
	}
	
	@media screen and (max-width: 320px){
		.contactTitle .is-size-0{
			font-size: 30.2px;
		}
	}