html {box-sizing:border-box}

body{
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Mort Modern 09', sans-serif;
	font-weight: 500;
	font-style: normal;
}

hr{
	background-color: #66BFF2;
	height: 1px;
    margin: 1rem 0;
}
.slide-down #navMenu {
	padding-top: 30px;	
}
.blackLogo img.WhiteLogo,
.blackLogo img.BlackLogo{
	max-width: 78%;
}
.yellowLogo img
{max-width: 60%;}

.page.Work.navDown .sidebar{
	top: auto;
}
.single.casestudy.xtrademark .caseStudyTop{
	padding-top:0;
}
.single.casestudy.xtrademark.navDown .caseStudyTop{
	padding-top:250px;
}


#navMenu a.navbar-item{
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.82px;
	line-height: 18px;
	text-transform: uppercase;
	padding-left: 60px;
	padding-right: 60px;
	transition: all .5s ease-out;
	font-family: 'FFMarkW1GMedium', sans-serif;
}

#navMenu a.navbar-item:hover{
	background-color: transparent;
	color: #66BFF2;
}
#navMenu a.navbar-item[aria-current] {color:#66BFF2;}

#navMenu a.navbar-item[aria-current]::before{
	content: "";
	border-left: 75px solid #66BFF2;
    height: 1px;
    position: absolute;
    right: 0;
    left: -30px;
    bottom: 10px;
}

#navMenu a.navbar-item:hover::before{
	content: "";
	border-left: 75px solid #66BFF2;
    height: 1px;
    position: absolute;
    right: 0;
    left: -30px;
    bottom: 10px;
}

.padding-top-2{
	padding-top: 2rem;
}
.padding-bottom-2{
	padding-bottom: 2rem;
}

#fullpage #watchVideo .fp-tableCell{
	vertical-align: top;
}


.slide-up, .slide-down {
  overflow:hidden;
}
.slide-up{
  transform: translateY(-10%);
  transition: all .5s ease-out;
}
.slide-down{  
  transform: translateY(0);
  transition: all .8s ease-out;
} 

#caseStudy{
	padding: 0;
}

.bg-green{
	background-color: #033B45;
}

.has-bg-black{
	background-color: #0D1B23;
}

.contactTitle{
	background: #0D1B23 url(../img/contactBg.png);
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	min-height: 486px;
	max-height: 100%;
	position: relative;
}


.is-size-0{
	font-family: 'Mort Modern 03 Large', sans-serif;
	font-size: 74.2px;
	font-weight: 500;
	font-style: normal;
}

.rw-words{
	display:inline-block;
}
.rw-words-1 span{
	max-width:0;
	display: inline-block;
	opacity: 0;
	overflow: hidden;
	-webkit-animation: rotateWord 15s linear infinite 0s;
	-ms-animation: rotateWord 15s linear infinite 0s;
	animation: rotateWord 15s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 5s; 
	-ms-animation-delay: 5s; 
	animation-delay: 5s; 
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 8s; 
	-ms-animation-delay: 8s; 
	animation-delay: 8s; 
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
}

@-webkit-keyframes rotateWord {
    2% { opacity: 0; max-width: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; max-width: 230px; -webkit-transform: translateY(38px);}
    17% { opacity: 1; max-width: 230px; -webkit-transform: translateY(38px); }
	20% { opacity: 0; max-width: 0; -webkit-transform: translateY(40px); }
	80% { opacity: 0; max-width: 0;}
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    2% { opacity: 0; max-width: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; max-width: 230px; -ms-transform: translateY(38px);}
    17% { opacity: 1; max-width: 230px; -ms-transform: translateY(38px); }
	20% { opacity: 0; max-width: 0; -ms-transform: translateY(40px); }
	80% { opacity: 0; max-width: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    2% { opacity: 0; max-width: 0; transform: translateY(-30px); }
	5% { opacity: 1; max-width: 230px; transform: translateY(38px);}
    17% { opacity: 1; max-width: 230px; transform: translateY(38px); }
	20% { opacity: 0; max-width: 0; transform: translateY(40px); }
	80% { opacity: 0; max-width: 0;}
	100% { opacity: 0; }
}
	
	@media screen and (max-width: 1024px){
		.contactTitle h2{
			font-size: 65.2px;
			line-height: 1.65;
		}
	}
	
	@media screen and (max-width: 1023px){
		#navMenu{
			display: none;
		}
		.slide-down #navMenu{ 
			padding-top: 0;
		}
		.logo{
			max-width: 80%;
		}
		.mobile-menu a{
			color: #FFFFFF;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.82px;
			line-height: 18px;
			text-transform: uppercase;
			padding-left: 120px;
			padding-right: 60px;
			padding-top: 30px;
		}
		.mobile-menu a.navbar-item:hover{
			background-color: transparent;
			color: #66BFF2;
		}
		.mobile-menu a.navbar-item[aria-current] {color:#66BFF2;}
		
		.mobile-menu a.navbar-item[aria-current]::before{
			content: "";
			border-left: 100px solid #66BFF2;
		    height: 1px;
		    position: absolute;
		    right: 0;
		    left: 0px;
		    bottom: 10px;
		}
		
		.mobile-menu a.navbar-item:hover::before{
			content: "";
			border-left: 100px solid #66BFF2;
		    height: 1px;
		    position: absolute;
		    right: 0;
		    left: 0px;
		    bottom: 10px;
		}
	}
	@media screen and (max-width: 768px){
		.blackLogo img.WhiteLogo,
		.blackLogo img.BlackLogo,
		.yelloLogo img{max-width: 60%;}
		
		.page.Contact nav.has-text-centered.padding-top-2.slide-up .BlackLogo{
			display: none;
		}
		.page.Contact nav.has-text-centered.padding-top-2.slide-down,
		.page.Contact nav.has-text-centered.padding-top-2.slide-up{
			position: fixed;
			left: 0;
			right: 0;
			z-index: 1;
		}
		.page.Contact nav.has-text-centered.padding-top-2.slide-down{
			width: 100%;	
		}
		
		.page.Contact nav.has-text-centered.padding-top-2.slide-up .WhiteLogo{
			max-width: 60%;
		}
	}
	@media screen and (max-width: 767px){
		.rw-words{
			display:block;
		}
		.contactTitle{background-position: left center;margin-right: -1.5rem;}
		.contactTitle h2{
			font-size: 50.2px;
			position: relative;
			padding-left: 6rem;
			line-height: 1;
		}
		@-webkit-keyframes rotateWord {
		    2% { opacity: 0; max-width: 0; transform: translateY(-30px); }
			5% { opacity: 1; max-width: 230px; transform: translateY(5px);}
		    17% { opacity: 1; max-width: 230px; transform: translateY(5px); }
			20% { opacity: 0; max-width: 0; transform: translateY(30px); }
			80% { opacity: 0; max-width: 0;}
			100% { opacity: 0; }
		}
		@-ms-keyframes rotateWord {
		    2% { opacity: 0; max-width: 0; transform: translateY(-30px); }
			5% { opacity: 1; max-width: 230px; transform: translateY(5px);}
		    17% { opacity: 1; max-width: 230px; transform: translateY(5px); }
			20% { opacity: 0; max-width: 0; transform: translateY(30px); }
			80% { opacity: 0; max-width: 0;}
			100% { opacity: 0; }
		}
		@keyframes rotateWord {
		    2% { opacity: 0; max-width: 0; transform: translateY(-30px); }
			5% { opacity: 1; max-width: 230px; transform: translateY(5px);}
		    17% { opacity: 1; max-width: 230px; transform: translateY(5px); }
			20% { opacity: 0; max-width: 0; transform: translateY(30px); }
			80% { opacity: 0; max-width: 0;}
			100% { opacity: 0; }
		}
		
	}
	@media screen and (max-width: 540px){

	}
	@media screen and (max-width: 414px){

	}
	@media screen and (max-width: 375px){

		
	}
	
	@media screen and (max-width: 320px){
		.contactTitle h2{
			font-size: 35.2px;
			line-height: 1;
			padding-left: 5rem;
		}
	}