.home.xtrademark .slide-up,
.home.xtrademark .slide-down {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9;
}

@media screen and (max-width: 768px){
	.home.xtrademark .slide-up,
	.home.xtrademark .slide-down {
		position: relative;	
	}
}