@import "~bulma/sass/utilities/initial-variables"

$body-background: #f9fafc

$family-primary: FFMark, sans-serif
$family-secondary: 'Mort Modern 09', sans-serif

body
	background-color: $body-background


@import "~bulma"
