.filterDiv {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.sidebar {
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  color: #000;
  overflow-x: hidden;
  transform: translateX(-10px);
  transition: all .8s ease-out;
  padding-top: 110px;
  height: 100%;
}

.filter-categories-parent {
    padding-bottom: 1rem;
}
.filter-reset-parent,
.filter-location-parent{
	border-top: 1px solid #66BFF2;
	padding-top: 1rem;
	padding-bottom: 3rem;
}

.filter-reset-parent{ border-top:0;}

.filter-reset ul li a,
.filter-location ul li a,
.filter-categories ul li a {
    padding-left: 5rem;
    color: #141825;
    font-size: 14px;	
	font-weight: 600;	
	letter-spacing: 0.54px;	
	text-transform: uppercase;
	font-family: 'Maven Pro';
}
.filter-categories em,
.filter-location em{
	font-family: 'Maven Pro';
	font-size: 12px;	
	letter-spacing: 0.7px;	
	line-height: 17px;
	color: #8F91A3;
	padding-left: 5rem;
}
.filter-categories ul,
.filter-location ul {
	padding-top: 0rem;
}
.filter-reset ul li,
.filter-location ul li,
.filter-categories ul li{
	line-height: 3.5;
	position: relative;
}
.filter-location ul li:hover{
	background-color: #F2ED66;
	cursor: pointer;
} 
.filter-categories ul li:hover {
    background-color: #ED7D31;
    cursor: pointer;
}

.filter-location ul li::after,
.filter-categories ul li::after{
	content: '';
	border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 8px;
	position: absolute;
    border: 0 solid #fff;
    text-align: center;
    left: 40px;
    top:30%;
}

.filter-location ul li.active_item a::after,
.filter-categories ul li.active_item a::after{
	content: '';
	background-image: url(White_check.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 15px;
	height: 11px;
	position: absolute;
	left: 45px;
	top: 24px;
	z-index: 1;
}
.filter-categories ul li.active_item a::after{
	background-image: url(White_check_cat.png);
}


.filter-location ul li::after{
	border: 1px solid #fff;
}

.filter-categories ul li.yellow::after{
	background: #F2ED66;
	border: 0 solid transparent;
}
.filter-categories ul li.red::after{
	background: #FF4274;
	border: 0 solid transparent;
}
.filter-categories ul li.sky::after{
	background: #66BFF2;
	border: 0 solid transparent;
}
.filter-categories ul li.green::after{
	background: #95A84C;
	border: 0 solid transparent;
}
.filter-categories ul li.blue::after{
	background: blue;
	border: 0 solid transparent;
}
.filter-categories ul li.orange::after{
	background: #FFC709;
	border: 0 solid transparent;
}
.filter-categories ul li.cyan::after{
	background: #95CCC3;
	border: 0 solid transparent;
}


.filter-reset ul li{line-height: 2.5;}
.filter-reset ul li a{ padding:1rem 6rem; font-size: 16px;}
.filter-reset ul li:hover{
	background-color: #ED7D31;
}

.filter-reset{
    border: 3px solid #000;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    position: relative;
}

.filter-reset::before{
	content: "";
    border-left: 20px solid #000;
    position: absolute;
    left: 0;
    height: 2px;
    top: 50%;
    z-index: 1;
}

.filter-reset::after{
	content: "";
    border-right: 20px solid #000;
    position: absolute;
    right: 0;
    height: 2px;
    top: 50%;
}

.sidebar-opened .allcases .column:nth-child(4){
	border-right: 1px solid #DBDBDB;
}

.circle-casestudy-parent{position: relative;}
.circle-casestudy{
	border-radius: 50%;
    width: 29px;
    height: 29px;
    padding: 3px 0;
	position: absolute;
    border: 0px solid #fff;
    text-align: center;
    right: 15px;
    top: 15%;
    background-color: #FFC709;
    color: #fff;
    font-family: 'Maven Pro';
    font-size: 15px;
    font-weight: 700;
}
.circle-casestudy-span{
	content: '';
	border-right: 30px solid #FFC709;
	height: 1px;
	position: absolute;
	right: 35px;
	top: 15px;
}


@media screen and (min-width: 1408px){
	.sidebar-opened .allcases .column.is-one-quarter-fullhd {
		width: 28%;
	}
}

@media screen and (min-width: 1216px) and (max-width: 1407px){
	.sidebar-opened .allcases .column.is-one-third-widescreen {
		width: 26%;
	}
}

@media screen and (min-width: 1024px) and and (max-width: 1215px){
	.sidebar-opened .allcases .column.is-half-desktop {
	    width: 26%;
	}
}
@media screen and (max-width: 1023px){
	.sidebar{
		position:relative;
		right: 0;
		margin: 0 auto;
		padding-top: 0;
	}
	.filter-location ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.filter-location ul li a{
		padding-left: 0;
	}
	.filter-location ul li::after{
		left: auto;
		right: 0;
	}
	.filter-location ul li.active_item a::after{
		left:inherit;
		right: 5px;
	}
}
